
<ion-view view-title="Drivers">
  <ion-content class="padding">
    <ion-item>
      <div class="row">
        <div class="row header">
          <div class="col">Driver</div>
          <div class="col">Hours driven</div>
          <div class="col">Energy</div>
        </div>
      </div>
    </ion-item>
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="driver in drivers" type="item-text-wrap" href="#/tab/driver/{{driver.id}}">
      <img ng-src="{{driver.face}}" width="50px">
      <div class="row">
        <div class="col">{{driver.name}}</div>
        <div class="col">{{driver.shift}} hours</div>
        <div class="col"><progress value="{{driver.energy}}" max="100"></progress></div>
      </div>
      <i class="icon ion-chevron-right icon-accessory"></i>

      <ion-option-button class="button-assertive" ng-click="remove(driver)">
        Hide
      </ion-option-button>
    </ion-item>
  </ion-content>
</ion-view>

<!--
<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="driver in drivers" type="item-text-wrap" href="#/tab/driver/{{driver.id}}">
        <img ng-src="{{driver.face}}" width="50px">
        <h2>{{driver.name}}</h2>
        <p>{{driver.lastText}}</p>

        <progress value="10" max="100"></progress>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(driver)">
          Hide
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->